html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.mainContent {
  margin: 5vh 0;
}
.postContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  margin: 10px 0;
  justify-content: center;
}
.imgPost {
  width: 100%;
  max-width: 450px;
  height: 100px;
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
}
.buttonBack {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
