/* .container {
} */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,400;1,600&display=swap");
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  padding: 25px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.37);
}
.header h1 {
  color: white;
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 26px;
  text-decoration: underline;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.titleArticle {
  width: 100%;
  padding-left: 10vw;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 33px;
  text-align: left;
  text-decoration: underline;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.card {
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease, transform 0.5s;
  max-width: 250px;

  border: 4px solid #000000;
}
.card:hover,
.card:focus,
.card:active {
  color: #33465c;
  border-color: #33465c;
}
.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-bottom: 4px solid #000000;
}
.card:hover img,
.card:focus img,
.card:active img {
  color: #33465c;
  border-color: #33465c;
}
.card h2 {
  padding: 5px;
  padding: 0 15px;
  font-size: 1.2rem;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.buttonBack {
  background-color: black;
  padding: 10px;
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}
@media (min-width: 600px) {
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
